
header {
  background-color: #ADD4D3;
  padding: 70px;
  position: relative; /* Añade posición relativa para que el seudoelemento sea posicionado correctamente */
  background-image: url('./img/logo-group.png');
  background-repeat: repeat;
  background-size: 230px;
  /* background-position: 150px; */
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333237;
  color:white;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
 text-decoration: none;

}
